<!-- Default Statcounter code for ZapList -->
<script type="text/javascript">
var sc_project=<%=STATCOUNTER_PROJECT_ID%>; 
var sc_invisible=1; 
var sc_security="<%=STATCOUNTER_SECURITY_CODE%>"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - Statcounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/<%=STATCOUNTER_PROJECT_ID%>/0/<%=STATCOUNTER_SECURITY_CODE%>/1/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->