    <footer class="navbar-default" style="margin-top:30px; margin-bottom: 30px;">
        <div>
            <div class="row">
                <div style="margin:0 auto; text-align:center"><%= site_title %> by <a href="https://webserve.xyz" target="_blank">WebServe</a></div>
            </div>
        </div>
    </footer>
    </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/js/sb-admin.js"></script>

    <!-- Default Statcounter code for ZapList -->
    <script type="text/javascript">
        var sc_project=13107907; 
        var sc_invisible=1; 
        var sc_security="dbcdd561"; 
        </script>
        <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
        <noscript><div class="statcounter"><a title="Web Analytics
        Made Easy - Statcounter" href="https://statcounter.com/"
        target="_blank"><img class="statcounter"
        src="https://c.statcounter.com/13107907/0/dbcdd561/1/"
        alt="Web Analytics Made Easy - Statcounter"
        referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->

</body>

</html>