        
        </div>   
        <!-- /#page-wrapper -->

        <footer class="navbar-default" style="float:right; margin:20px">
            <div>
                <div class="row">
                    <div class="col-lg-12"><%= SITE_TITLE %> by <a href="https://webserve.xyz" target="_blank">WebServe</a></div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /#wrapper -->


    <!-- Core Scripts - Include with every page -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/js/sb-admin.js"></script>

    <!-- Statcounter code -->
    <%- include("../partials/statcounter") %>

</body>

</html>
