    <footer class="navbar-default" style="margin-top:30px; margin-bottom: 30px;">
        <div>
            <div class="row">
                <div style="margin:0 auto; text-align:center"><%= SITE_TITLE %> by <a href="https://webserve.xyz" target="_blank">WebServe</a></div>
            </div>
        </div>
    </footer>
    </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/js/sb-admin.js"></script>

    <!-- Statcounter code -->
    <%- include("../partials/statcounter") %>

</body>

</html>