<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= SITE_TITLE %></title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- Core CSS - Include with every page -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">
	
</head>

<body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 style="font-size:22px;text-align:center;padding-top:30px;">
                <strong>
                    <img src="static/images/zaplist_logo_small.png" style="height:100px; margin-left: -10px; margin-top: -10px;" alt="<%= SITE_TITLE %> logo"/>
                </strong>
            </h3>