# Site Config
SITE_TITLE=ZapList
SESSION_SECRET=zaplistapp
APP_PORT=3031

# DB Config
MONGO_URI=mongodb://127.0.0.1:27017/zaplist

# Statcounter
STATCOUNTER_PROJECT_ID=123
STATCOUNTER_SECURITY_CODE=abc